{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
{% endblock %}
{% block content %}

<div class="container">

  <!-- Jumbotron Header -->
  <div class="wow fadeIn">

    <header style="background-color:#fff !important" class="jumbotron my-4 hoverable">
      Explore. Connect. Learn. Grab. Upgrade.

    </header>
  </div>


  <div class="wow fadeIn">



    <!-- Card -->
    <div class="card card-image" style="background-image: url({% static 'img/connect.jpeg' %});">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="pink-text"><i class="fas fa-comments"></i>Connect Your Batchmates</h5>
          <p>View Our Exclusive Batchmates Directory to know about whereabouts of your batchmates,Explore Complete Alumni Directory & connect with alumni with your Interests & Domain</p>
          <a href="{% url 'group_view' %}" class="btn btn-pink"><i class="fas fa-users left"></i> Join With Your Batch</a>
        </div>
      </div>

    </div>
    <!-- Card -->
    <br>
  </div>
  <div class="wow fadeIn">
    <!-- Card -->
    <div class="card card-image" style="background-image: url({% static 'img/help.jpeg' %});">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="green-text"><i class="fas fa-chart-pie"></i> Contribute</h5>
          <p>An institution's alumni are the reflection of its past, representation of its present and a link to its future.
            A strong alumni association can be one of the biggest benefactors of an institution that can contribution towards various developmental activities of the institution.
          </p>
          <a href="{% url 'fundraiser' %}" class="btn btn-green"><i class="fas fa-clone left"></i> View projects and events that you can help </a>
        </div>
      </div>

    </div>
    <!-- Card -->

    <br>
  </div><!-- Card -->
  <div class="wow fadeIn">
    <div class="card card-image" style="background-image: url({% static 'img/job.jpeg' %});">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="orange-text"><i class="fas fa-angle-double-up"></i> Upgrade Your Self</h5>
          <p>Refer your friends to the many exciting job opportunities.
            Refer a new student and give them a head start. No one knows Bethany better than our alumni.
          </p>
          <a class="btn btn-orange"><i class="fas fa-briefcase left"></i> Get Jobs and Opportunities or View Profiles</a>
        </div>
      </div>

    </div>
    <br>
  </div>
  <div class="wow fadeIn">
    <div class="card card-image" style="background-image: url({% static 'img/mentor.jpeg' %});">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="blue-text"><i class="fas fa-info"></i> Mentor Upcoming Gradutes</h5>
          <p>Alumni Mentor Program is a unique opportunity for you to form meaningful and lasting relationships with alumni that will extend beyond campus walls. As a program participant, you'll have a chance to request a mentor to assist you with
            academic guidance, career advice and personal development.
          </p>
          <a class="btn btn-blue"><i class="fas fa-chalkboard-teacher left"></i> Organize Events and Share your experience</a>
        </div>
      </div>

    </div>

  </div>


  <!--Section: Contact v.2-->

</div>


{% endblock %}
